html, body {height: 100%; margin: 0;}

p {font-family: 'Arial';}
h1 {font-family: 'Arial'; font-weight: normal; font-size: 40px;}
h2 {font-family: 'Arial'; font-weight: lighter; font-size: 24px;}
h3 {font-family: 'Arial'; font-weight: lighter; font-size: 20px;}

button:hover {
    cursor: pointer;
}

.desk-control {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 80px);
    max-height: 100vh;
    overflow: hidden;
}

.desk-view {
    width: 70%;
    background-color: #EFF1F2;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.desk-view h1 {
    margin-bottom: 0px;
    font-size: 32px;
}
.desk-view h3 {
    margin-top: 10px;
    color: #3e3e3e;
    font-size: 18px;
}

.desk-view img {
    max-height: 400px;
    max-width: 100%;
    object-fit: contain;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.desk-view-btns {
    padding: 12px 40px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}


.sitting {
    background-color: #CFEAD5;
    margin-left: 100px;
}
.sitting:hover {
    background-color: #91cd9e;;
}
.error-log {
    background-color: #FFFFFF;
}
.error-log:hover {
    background-color: #e7e7e7;
}

.desk-management {
    width: 30%;
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-right: 30px;
    overflow-y: auto;
    max-height: 100vh;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

}

.profile-pic {
    width: 45px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 100px;
}

.desk-adjustment {
    margin-left: 50px;
    margin-top: 40px;
}

#height {
    width: 100%;
    max-width: 350px;
}

.slider-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.slider-header p {
    margin-right: 15px;
    color: rgb(102, 102, 102);
}

.srange input[type="range"]{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 6px;
  background: linear-gradient(to right, #2e7d32 var(--p), #e5e5e5 var(--p));
  outline: none;
  margin-bottom: 20px;
}
.srange input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  background: #2e7d32;
  border: 0;
}
.srange input[type="range"]::-webkit-slider-thumb:hover {
  cursor: pointer;
}

.height-preset-btns {
    margin-bottom: 40px;
}
.height-preset-btns button {
    background-color: #EDEDED;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    margin-right: 0px;
}
.height-preset-btns button:hover {
    background-color: #dedede;
}

.temp-activity-box {
    background-color: #E6E6E6;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    max-width: 350px;
}