# Entorno virtual
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# MediaPipe models cache
.hidden_models/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log